.env
__pycache__
app/__pycache__
classes
classes/
config.json
dist
build
GradingApp.exe
version.txt
grading app installer setup/config.json
grading app installer setup/GradingApp.exe
grading app installer setup/GradingAppSetup.exe